html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F-webfont.woff') format('woff'), url('fonts/PTS55F-webfont.ttf') format('truetype'), url('fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.market input {
    outline: none;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.market {
    color: #333;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
}

.market div,
.market ul,
.market li,
.market button,
.market a,
.market input,
.presence,
.otzyv-textarea,
.social-counter,
.footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sp, .popup-close i, .sale-sticker:after, .starbar, .starbar_w1, .starbar_w2, .starbar_w3, .starbar_w4, .starbar_w5 {
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/sprite.png");
}

.link {
    cursor: pointer;
    color: inherit;
}

.blue-link, .blue-hover:hover {
    color: #09c;
}

.gold-underline {
    border-bottom-color: #efb700 !important;
}

.gold-underline:hover {
    border-bottom-color: transparent !important;
}

.underline-link {
    border-bottom: 1px solid;
}

.underline-link, .dotted-link {
    text-decoration: none;
}

.underline-link:hover {
    border-bottom: 1px solid transparent;
}

.dotted-link {
    border-bottom: 1px dotted;
}

.dotted-link:hover {
    border-bottom: 1px dotted transparent;
}

.blue-hover.dotted-link:hover {
    border-bottom: 1px dotted;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.navy-selected {
    color: #999;
}

.navy-tab {
    vertical-align: middle;
}

.navy-home {
    background-position: -21px -100px;
    width: 11px;
    height: 10px;
    margin-top: -2px;
}

.navy-arrow {
    background-position: 0 -100px;
    display: inline-block;
    width: 18px;
    height: 7px;
}

.header-bg {
    background-color: #333;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

.header {
    height: 64px;
}

.title-big {
    font-size: 24px;
}

.market__wrapper, .header, .footer {
    min-width: 980px;
}

@media all and (min-width: 1180px) {
    .footer {
        width: 1180px;
    }

    .add-scroll-line {
        width: 900px;
    }
}

@media all and (max-width: 1179px) {
    .footer {
        width: 100%;
    }

    .add-scroll-line {
        width: 600px;
    }
}

.footer {
    max-width: 1180px;
}

.market__wrapper {
    background-color: #E6E6E6;
}

.market__navy {
    margin-bottom: 20px;
}

.market__content {
    padding: 4px 20px 50px 20px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 1180px;
}

.item-tile {
    width: 260px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #efefef;
    padding: 5px 20px 20px;
}
.item-tile .label.for-checkbox > *{
    vertical-align: middle;
}

.buy-panelbox + .item-tile {
    margin-left: 20px;
}

.buy-panelbox .button-gold, .buy-panelbox .button-white-gold {
    width: 140px;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.sort-opts {
    margin-top: 15px;
    margin-bottom: 33px;
}

.sort-opts span:first-child {
    vertical-align: middle;
}

.sort-opt {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 3px 4px 4px 8px;
    display: inline-block;
}

.dib {
    display: inline-block;
}

.sort-opt.asc, .sort-opt.desc {
    background-color: #fff3cb;
}

.sort-opt .sp, .asc .sp, .desc .sp {
    width: 8px;
    height: 5px;
    margin-left: 4px;
}

.asc .sp {
    background-position: -5px -110px;
}

.desc .sp {
    background-position: -13px -110px;
}

.rupor {
    background-position: -842px -84px;
    width: 35px;
    height: 33px;
    margin-left: 5px;
}

.dash-display {
    background-position: -40px -130px;
    width: 20px;
    height: 20px;
}

.dash-display:hover {
    background-position: -20px -130px;
}

.selected.dash-display {
    background-position: 0 -130px;
}

.list-display {
    background-position: -40px -150px;
    width: 20px;
    height: 20px;
}

.list-display:hover {
    background-position: -20px -150px;
}

.selected.list-display {
    background-position: 0 -150px;
}

.display-opt {
    float: right;
}

.display-opt span, .display-opt a {
    display: inline-block;
    vertical-align: middle;
}

.list-none {
    list-style: none;
}

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

.starbar {
    width: 75px;
    height: 14px;
    background-position: 0 -195px;
    display: inline-block;
}

.starbar-big {
    position: relative;
    width: 145px;
    height: 28px;
    background-position: -220px -210px;
    display: inline-block;
    cursor: pointer;
}

.starbar-big_w1, .starbar-big_w2, .starbar-big_w3, .starbar-big_w4, .starbar-big_w5 {
    width: 29px;
    height: 28px;
    background-position: -220px -181px;
}

.starbar-big_w2, .starbar-big_w3, .starbar-big_w4, .starbar-big_w5 {
    width: 58px;
}

.starbar_w1, .starbar_w2, .starbar_w3, .starbar_w4, .starbar_w5 {
    width: 15px;
    height: 14px;
    background-position: 0 -180px;
    float: left;
}

.starbar_w2 {
    width: 30px;
}

.starbar_w3 {
    width: 45px;
}

.starbar_w4 {
    width: 60px;
}

.starbar_w5 {
    width: 75px;
}

.starbar-otzyv .starbar {
    margin-bottom: 3px;
}

.starbar-otzyv {
    margin-bottom: 12px;
}

.product__item__art {
    font-size: 13px;
    color: #999;
    height: 16px;
    margin-bottom: 3px;
}

.presence {
    height: 20px;
    line-height: 20px;
    padding: 1px 8px 2px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 12px;
}

.presence__yes {
    background-color: #99cc00;
}

.presence__order {
    background-color: #66CCFF;
}

.presence__no {
    background-color: #ff6666;
}

.new-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
}

.button-buy {
    padding: 0 10px;
    width: 92px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #efb700;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    color: #000;
    font-family: "PT Sans", sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    text-align: center;
    background-color: #ffc301;
    margin-bottom: 10px;
}

.button-buy:hover {
    background-color: #ffd10a;
}

.button-buy:active {
    background-color: #ffd10a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

.catalog-item__addinfo {
    float: left;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #fff3cc;
    padding: 3px 7px 10px;
    margin-top: 10px;
}

.addinfo-text {
    line-height: 18px;
    margin-bottom: 7px;
    display: block;
}

.catalog-item__addinfo:hover {
    border: solid 1px #efb700;
}

.catalog-item__addinfo:hover .addinfo-text {
    color: #333;
}

.qst {
    background-position: -130px -130px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    vertical-align: middle;
}

.qst:hover {
    background-position: -130px -146px;
}

.title-middle {
    font-size: 16px;
    margin-bottom: 20px;
}

.search-param {
    margin-bottom: 10px;
}

.search-param__container {
    padding: 11px 0 6px;
}

.search-param__container, .param-name {
    font-size: 13px;
}

.expanded.search-param__container {
    display: block;
}

.expanded .sp.param {
    background-position: -5px -110px;
    width: 8px;
    height: 5px;
}

.collapsed .sp.param {
    background-position: 0 -110px;
    width: 5px;
    height: 8px;
    margin-left: 3px;
}

.collapsed .search-param__container {
    display: none;
}

.param-name {
    display: inline-block;
}

.param-name * {
    vertical-align: middle;
}

.sp.param {
    margin-right: 4px;
}

.price-input {
    padding: 0 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    width: 77px;
    border: 1px solid #999999;
    text-align: left;
    height: 22px;
}

.price-input:focus {
    border: 1px solid #efb700;
}

.price-input[type="number"]::-webkit-outer-spin-button,
.price-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-line {
    height: 27px;
    margin-top: 14px;
    position: relative;
}

.price-line__empty {
    background-position: 0 -227px;
    height: 7px;
    width: 203px;
    position: absolute;
    top: 0;
    left: 0;
}

.price-line__fill {
    background-position: 0 -223px;
    height: 4px;
    width: 97px;
    position: absolute;
    top: 3px;
    left: 5px;
}

.price-from, .price-to {
    display: block;
    background-position: 0 -234px;
    height: 20px;
    width: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.price-to {
    left: 96px;
}

.price-from:hover, .price-to:hover {
    background-position: -11px -234px;
}

.vam-line * {
    vertical-align: middle;
}

.for-checkbox * {
    line-height: normal;
    vertical-align: middle;
}

input[type="checkbox"] {
    display: none;
}

.for-checkbox {
    cursor: pointer;
    margin-bottom: 6px;
    display: block;
}

.search-parameters.two-columns {
    width: 50%;
    display: inline-block;
}

input[type="checkbox"] + i {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

input[type="checkbox"] + i {
    background-position: -84px -144px;
}

input[type="checkbox"]:checked + i {
    background-position: -70px -144px;
}

input[type="checkbox"]:disabled + i {
    background-position: -112px -144px;
}

input[type="checkbox"]:checked:disabled + i {
    background-position: -98px -144px;
}

.show-all-params {
    margin-top: 5px;
}

.desc-item {
    margin-bottom: 2px;
}

.desc-item * {
    vertical-align: middle;
    line-height: 16px;
}

.desc-item__name {
    font-style: italic;
    color: #999;
}

.desc-item__cont {

}

.popup {
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    z-index: 3000;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.show-models__popup {
    position: absolute;
    padding: 9px 0 5px 9px;
    height: 38px;
    width: 226px;
    left: -224px;
    top: 50%;
    transform: translate(0, -50%,);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    background-position: -0px -254px;
}

.button-gray {
    height: 28px;
    width: 92px;
    display: inline-block;
    line-height: 26px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(bottom, #cccbcb, #fff);
    background-image: -moz-linear-gradient(bottom, #cccbcb, #fff);
    background-image: -o-linear-gradient(bottom, #cccbcb, #fff);
    background-image: linear-gradient(to top, #cccbcb, #fff);
}

.button-gray:hover {
    background-image: -webkit-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -moz-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -o-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: linear-gradient(to top, #e7e7e7, #fff);
}

.button-gray:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -moz-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -o-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: linear-gradient(to top, #e7e7e7, #fff);
}

.rel {
    position: relative;
}

.rst {
    background-position: -640px -143px;
    width: 44px;
    height: 34px;
    vertical-align: middle;
}

.item-head {
    font-size: 24px;
    line-height: 32px;
}

.item-images {
    width: 60px;
}

.item-images li {
    border: 1px solid #efefef;
    border-radius: 4px;
    height: 60px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.item-images li {

}

.item-images li img {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
}

.item-images li.selected {
    border: 1px solid #efb700;
}

.item-images li:hover {
    border: 1px solid gold;
}

/* Scrolls */
.scroll-tabs {
    position: relative;
}

.scroll-catalog {
    left: 0;
    top: 0;
    position: absolute;
}

.vert-scroll-line {
    padding: 30px 0;
}

.vert-scroll-tabs {
    overflow: hidden;
    height: 350px;
    width: 60px;
}

.vert-arrow {
    position: absolute;
    width: 14px;
    height: 9px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
}

.vert-arrow.arrow-back {
    background-position: -14px -447px;
    top: 15px;
}

.vert-arrow.arrow-back:hover {
    background-position: 0 -447px;
}

.vert-arrow.arrow-forward {
    background-position: -14px -456px;
    bottom: 15px;
}

.vert-arrow.arrow-forward:hover {
    background-position: 0 -456px;
}

/* *********** */

/************* item card attributes *************/

.buy-panelbox {
    width: 140px;
    padding-top: 16px;
    margin-bottom: 32px;
}

.buy-panelbox .buy-btn, .buy-panelbox .counter {
    margin-bottom: 8px;
}

.add i.sp {
    width: 24px;
    height: 24px;
    background-position: -24px -320px;
}

.deduct i.sp {
    width: 24px;
    height: 24px;
    background-position: 0px -320px
}

.deduct.disabled i.sp {
    background-position: -48px -320px !important;
}

.deduct:hover i.sp {
    background-position: 0px -344px;
}

.deduct:active i.sp {
    background-position: 0px -368px;
}

.add:hover i.sp {
    background-position: -24px -344px;
}

.add:active i.sp {
    background-position: -24px -368px;
}

.op50 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.presence.hidden {
    display: none;
}

.price-block {
    margin-bottom: 15px;
}

.old-price {
    font-size: 24px;
    color: #999;
}

.new-price strong {
    vertical-align: middle;
    font-size: 32px;
}

.credit {
    cursor: pointer;
}

.price-note {
    font-size: 13px;
    line-height: 20px;
}

.price-note__name {
    color: #666;
}

.credit {
    font-size: 0;
    height: 56px;
    background-color: #fbf2cc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 5px 0 0 0;
    margin-bottom: 16px;
}

.credit.disabled {
    color: #989898
}

.credit span {
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
}

.counter a, .counter input {
    float: left;
    height: 24px;
    margin-right: 2px;
}

.counter input {
    width: 40px;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #efc22e;
    text-align: center;
}

.counter span {
    line-height: 24px;
    margin-left: 2px;
}

.btn {
    display: block;
    height: 56px;
}

.buy-btn {
    width: 140px;
    height: 40px;
    display: block;

}

.buy-btn .sp {
    width: 140px;
    height: 40px;
    background-position: 0px -620px;
}

.button-publish .sp {
    width: 182px;
    height: 40px;
    background-position: -420px -620px;
}

.button-publish:hover .sp {
    background-position: -420px -660px;
}

.button-publish:active .sp {
    background-position: -420px -700px;
}

.buy-btn:hover i.sp {
    background-position: 0px -660px;
}

.buy-btn:active i.sp {
    background-position: 0px -700px;
}

.credit-btn {
    color: #ffffff;
    text-align: center;
    margin-top: 8px;
    position: relative;
}

.credit-btn span {
    position: absolute;
    top: 57%;
    left: 0;
    width: 100%;
    text-align: center;
}

.credit-btn i.sp {
    width: 200px;
    height: 56px;
    background-position: -220px -8px;
}

.credit-btn:hover i.sp {
    background-position: -220px -64px;
}

.credit-btn:active i.sp {
    background-position: -220px -120px;
}

.link {
    cursor: pointer;
}

.click-buy-call, .click-buy-brd, .present-buy {
    margin-bottom: 10px;

}

.click-buy-brd, .click-buy-call {
    margin-top: 10px
}

.click-buy-call i.sp, .present-buy i.sp {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 5px;
}

.click-buy-call a, .present-buy a, .click-buy-brd a {
    vertical-align: middle;
}

.click-buy-brd {
    width: 140px;
    height: 32px;
    border: 1px solid #efc22e;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 6px 0;
    font-size: 16px;
    text-align: center;
}

.click-buy-brd:hover .dotted-link {
    border-bottom-color: transparent;
}

.click-buy-call i.sp {
    background-position: -92px -178px;
}

.click-buy-call .click-buy-call__details {
    color: #989898;
    font-size: 13px;
    margin-top: 4px;
    display: inline-block;
}

.present-buy i.sp {
    background-position: -112px -178px;
}

.present-buy i.sp.qst {
    background-position: -68px -214px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    cursor: pointer;
}

.present-buy i.sp.qst:hover {
    background-position: -68px -230px;
}

.qst-popup {
    position: absolute;
    width: 200px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    font-size: 13px;
    padding: 10px 8px;
}

/*************  -- item card attributes *************/
.service-pic {
    width: 40px;
    height: 40px;
}

.service-pic-8 {
    background-position: -920px 0;
}

.service-pic-9 {
    background-position: -960px 0;
}

.service-pic-1 {
    background-position: -640px 0;
}

li:hover .service-pic-1 {
    background-position: -640px -40px;
}

.service-pic-2 {
    background-position: -680px 0;
}

li:hover .service-pic-2 {
    background-position: -680px -40px;
}

.service-pic-3 {
    background-position: -720px 0;
}

li:hover .service-pic-3 {
    background-position: -720px -40px;
}

.service-pic-4 {
    background-position: -760px 0;
}

li:hover .service-pic-4 {
    background-position: -760px -40px;
}

.service-pic-5 {
    background-position: -800px 0;
}

li:hover .service-pic-5 {
    background-position: -800px -40px;
}

.service-pic-6 {
    background-position: -840px 0;
}

li:hover .service-pic-6 {
    background-position: -840px -40px;
}

.service-pic-7 {
    background-position: -880px 0;
}

li:hover .service-pic-7 {
    background-position: -880px -40px;
}

.footer__text {
    margin-top: 36px;
    font-size: 10px;
    color: #333;
    text-align: center;
}

.popup-link {
    width: 6px;
    height: 6px;
    vertical-align: super;
    margin-left: 2px;
}

.popup-link-blue {
    background-position: -20px -400px;

}

.popup-link-black {
    background-position: -26px -400px;

}

.popup-link-red {
    background-position: -32px -400px;

}

.col-1-2 {
    width: 50%;

}

.item-pic {
    width: calc(100% - 60px);
    padding: 30px;
    height: 420px;
    position: relative;
    text-align: center;
}

.item-pic img {
    max-width: 380px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.lupe-c:hover .lupe {
    display: block;
}

.lupe {
    background-position: -188px -188px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    display: none;
}

.sale-sticker:after {
    content: '';
    background-position: -226px -275px;
    width: 11px;
    height: 32px;
    display: block;
    position: absolute;
    top: -1px;
    left: -11px;
}

.sale-sticker {
    border-top: 1px solid #efb700;
    border-bottom: 1px solid #efb700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #efb700;
    height: 32px;
    position: relative;
    display: inline-block;
    margin: 0 2px 0 11px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 4px;
    vertical-align: middle;
}

.art, .rate {
    color: #999;
    display: inline-block;
    line-height: 20px;
}

.rate-gray, .rate-small {
    font-size: 13px;
    color: #999;
    line-height: 16px;
    margin-top: 10px;
}

.art {
    margin-right: 10px;
}

.smile {
    background-position: -80px -180px;
    width: 20px;
    height: 20px;
    float: left;
}

.smile + .smile {
    margin-left: -10px;
}

.smile-small {
    background-position: -100px -196px;
    width: 16px;
    height: 16px;
    float: left;
}

.smile-small + .smile-small {
    margin-left: -8px;
}

.smile-gray {
    background-position: -100px -180px;
    width: 16px;
    height: 16px;
    float: left;
}

.smile-gray + .smile-gray {
    margin-left: -8px;
}

.smile + span, .smile-small + span, .smile-gray + span {
    float: left;
    margin-left: .5em;
}

.otzyv, .present-link {
    font-size: 13px;
    display: block;
    height: 20px;
    margin-bottom: 10px;
}
.otzyv {
    margin-bottom: 7px;
}

.gray {
    color: #999;
}

.black {
    color: #333;
}

.blue {
    color: #0099cc;
}

.red, .red-hover:hover {
    color: #ff0000!important;
}

.drell, .present-to-buy {
    display: block;
    width: 100%;
    clear: both;

}

.drell {
    padding-right: 10px;
}

.present-to-buy {
    padding-left: 10px;
}

.drell i, .present-to-buy i {
    background: no-repeat center;
    max-width: 285px;
    height: 60px;
    display: block;
    border-radius: 6px;

}

.present {
    background-position: -1010px -10px;
    width: 20px;
    height: 20px;
}

hr.grad {
    background: #efb700;
    background-color: #efb700;
    background-image: linear-gradient(left, #fff 0%, #efb700 50%, #fff 100%);
    background-image: -webkit-linear-gradient(left, #fff 0%, #efb700 50%, #fff 100%);
    background-image: -moz-linear-gradient(left, #fff 0%, #efb700 50%, #fff 100%);
    background-image: -o-linear-gradient(left, #fff 0%, #efb700 50%, #fff 100%);
    background-image: linear-gradient(to right, #fff 0%, #efb700 50%, #fff 100%);
    margin-top: 20px;
    height: 1px;
    border: 0 none transparent;
}

hr.dotted-line {
    border-top: 1px dotted #cbcbcb;
    border-bottom: 0;
    border-left: 0 none transparent;
    border-right: 0 none transparent;
    margin: 0;
}

hr.solid-line {
    border-top: 2px solid #f3f1ed;
    border-bottom: 0;
    border-left: 0 none transparent;
    border-right: 0 none transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr.bottom-line {
    margin-top: 0 !important;
    margin-bottom: 20px;
}

hr.dashed-line {
    border-top: 1px dashed #cbcbcb;
    height: 2px;
    border-bottom: 1px dashed #cbcbcb;
    border-left: 0 none transparent;
    border-right: 0 none transparent;
}

.horiz-scroll-line {
    position: relative;
    z-index: 10;
    height: 120px;
}

.horiz-scroll-tabs {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.horiz-scroll-catalog {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 10000px;
    font-size: 0;
}

.horiz-arrow {
    display: block;
    position: absolute;
    width: 9px;
    height: 14px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

.horiz-arrow.arrow-forward {
    right: -15px;
    top: 50%;
    background-position: -27px -465px;
}

.horiz-arrow.arrow-back {
    left: -15px;
    background-position: -18px -465px;
    top: 50%;
}

.horiz-arrow.arrow-forward:hover {
    background-position: -9px -465px;
}

.horiz-arrow.arrow-back:hover {
    background-position: 0 -465px;
}

.lborder {
    width: 1px;
    position: absolute;
    top: 0;
    height: 100%;
    left: -1px;
    display: block;
    background-color: #d5d5d5;
    background-image: -webkit-linear-gradient(bottom, #fff, #d5d5d5 50%, #fff);
    background-image: -moz-linear-gradient(bottom, #fff, #d5d5d5 50%, #fff);
    background-image: -o-linear-gradient(bottom, #fff, #d5d5d5 50%, #fff);
    background-image: linear-gradient(to top, #fff, #d5d5d5 50%, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='@{#fff}', GradientType=1);
}

.bott {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.bott:nth-child(n) {
    vertical-align: middle;
}

.catalog__item__price {
    vertical-align: middle;
}

.catalog__item__price {
    font-size: 18px;
}

.catalog__item__old-price {
    font-size: 13px;
    color: #999;
}

.lthrough {
    text-decoration: line-through;
}

.catalog__item__name {
    line-height: 20px;
    word-spacing: normal;
    word-wrap: break-word;
}

.catalog__item {
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    position: relative;
    width: 333px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.catalog__item > *:not(.flt-l):not(:last-child) {
    margin-bottom: 5px;
}

.catalog__item__photo.flt-l {
    margin-right: 10px;
    width: 90px;
    height: 90px;

}

.lborder ~ .catalog__item__photo {
    margin-left: 5px;
}

.catalog__item__photo:not(.flt-l) {
    height: 120px;
    line-height: 120px;

}

.catalog__item__photo img {
    vertical-align: bottom;
    max-width: 100%;
    max-height: 100%;
}

.add-scroll-catalog {
    height: 130px;
    padding: 20px 0;
}

.add-scroll-catalog .catalog__item {
    width: 300px;
}

.add-scroll-catalog .button-gold {
    width: 80px;
}

.catalog__item__price + .button-gold {
    margin-left: 8px;
    vertical-align: middle;
}

.add-list {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 0 50px;
    width: 230px;
}

.button {
    padding: 0 10px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

.button-gold, .button-white-gold {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffc302;
    border-color: #efb700;
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    color: #000;
}
.button-white-gold{
    background-color: #fff;
    height: 32px;
}
.button-gold:hover, .button-white-gold:hover {
    background-color: #ffd10a;
}
.button-gold:active, .button-white-gold:active  {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.fora-list {
    margin-top: 15px;
    padding: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f4f2ee;
}

.fora-list li {
    width: 25%;
    display: block;
    float: left;
    position: relative;
}

.fora-list li i {
    margin: 0 6px 0 15px;
}

.fora-list li span {
    float: left;
    line-height: 16px;
    margin-top: 5px;
}
.fora-list .lborder {
    margin-top: -10px;
    height: 60px;
    background-image: -webkit-linear-gradient(bottom, #efefef 0%, #d5d5d5 50%, #efefef 100%);
    background-image: -moz-linear-gradient(bottom, #efefef 0%, #d5d5d5 50%, #efefef 100%);
    background-image: -o-linear-gradient(bottom, #efefef 0%, #d5d5d5 50%, #efefef 100%);
    background-image: linear-gradient(to top, #efefef 0%, #d5d5d5 50%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='@{#d5d5d5}', GradientType=1);
}

.article-title {
    font-size: 16px;
}

.tabs-window {
    width: 50%;
    width: calc(540px);
    padding-right: 30px;
}

.tabs li {
    float: left;
    line-height: 20px;
    font-size: 16px;
    margin-right: 25px;
}

.tabs li.selected {
    font-size: 20px;
}

.tabs li.selected a {
    border-bottom: none;
    color: #333;
}

.tabs li a {
    color: #999;
}

.analog-window {
    width: 50%;
    width: calc(100% - 540px);
}

.analog-window__catalog {
    margin-left: -30px;
}

.analog-window__catalog li {
    float: left;
    width: 170px;
    margin: 0 0 80px 30px;
}

.rostest li {
    width: 50%;
    float: left;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rostest li span, .rostest li i {
    float: left;
}

.rostest li span {
    margin-left: 10px;
    line-height: 16px;
}

.user {
    margin-bottom: 8px;
}

.model-rate {
    margin-bottom: 15px;
}

.model-rate span {
    line-height: 14px;
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
}

.user-ava {
    width: 16px;
    height: 16px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-position: -80px -200px;
}

.user-name {
    line-height: 16px;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.user-ava, .user-name, .user-garant {
    vertical-align: middle;
}

.user-garant i, .user-garant span {
    vertical-align: middle;
}

.garant-positive i {
    background-position: -116px -180px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.otzyv-textarea {
    width: 460px;
    max-width: 100%;
    max-height: 400px;
    overflow: auto;
    font-size: 16px;
    line-height: 16px;
    height: 55px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 15px;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
}

.otzyv-textarea:focus {
    outline: none;
}
.otzyv-block {
    margin-bottom: 15px;
}

.popup .otzyv-popup {
    width: 750px;
}

.otzyv-popup .form-row {
    padding-left: 140px;
}

.otzyv-popup .form-input {
    width: 100%;
}

.social {
    margin-bottom: 15px;
}

.social-counter {
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    float: left;
    margin-left: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #999;
}

.social li {
    display: inline-block;
    margin-left: 10px;
}

.social__image {
    width: 20px;
    height: 20px;
    float: left;
}

.social__vk-image {
    background-position: -340px -500px;
}

.social__vk-image:hover {
    background-position: -340px -520px;
}

.social__vk-image:active {
    background-position: -340px -540px;
}

.social__od-image {
    background-position: -360px -500px;
}

.social__od-image:hover {
    background-position: -360px -520px;
}

.social__od-image:active {
    background-position: -360px -540px;
}

.social__fb-image {
    background-position: -380px -500px;
}

.social__fb-image:hover {
    background-position: -380px -520px;
}

.social__fb-image:active {
    background-position: -380px -540px;
}

.social__tw-image {
    background-position: -400px -500px;
}

.social__tw-image:hover {
    background-position: -400px -520px;
}

.social__tw-image:active {
    background-position: -400px -540px;
}

.social-triangle {
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #999;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0, -50%,);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);

}

.social-triangle:after {
    content: '';
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translate(0, -50%,);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
}

.pre-top-shadow {
    margin-top: 20px;
    padding-top: 10px;
}

.pre-top-shadow:before, .pre-top-shadow:after {
    background-image: url("../images/sprite.png");
    position: absolute;
    content: "";
    height: 11px;
    top: -11px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pre-top-shadow:before {
    background-position: -1955px -800px;
    width: 45px;
    left: 0;
}

.pre-top-shadow:after {
    background-position: 0 -800px;
    left: 45px;
    right: 0;
}

.footer {
    z-index: 11;
    padding: 8px 20px;
    position: fixed;
    overflow: visible;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 -4px 6px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 -4px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, .1);
}

.footer-header {
    text-align: center;

}

.footer-body {
    display: none;
    margin-top: 20px;
}

.footer-tab {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
}

.footer-tab.selected {
    background-color: #ededed;
    -webkit-box-shadow: 0 -1px #cecece;
    -moz-box-shadow: 0 -1px #cecece;
    box-shadow: 0 -1px #cecece;
}

.footer-tab.selected .link {
    border-bottom: 1px solid transparent !important;
}

.tab-content {
    display: none;
}

.tab-content.selected {
    display: block;
}

.recent, .analog {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px;
}

.recent {
    background-position: -148px -180px;
}

.analog {
    background-position: -132px -180px;
}

.horiz-scroll-line.model-scroll {
    height: 190px;
}

.model-scroll .catalog__item {
    width: 150px;
    margin-right: 30px;
    padding: 0;
    font-size: 13px;
}

.model-scroll .catalog__item__name {
    text-decoration: underline;
    font-size: 13px;
    line-height: 15px;
}

.model-scroll .catalog__item__name:hover {
    text-decoration: none;
}

.model-scroll .catalog__item__photo {
    height: 90px;
    width: 90px;
    line-height: 90px;
}

.model-scroll .catalog__item__price {
    line-height: 13px;
    height: 13px;
    float: left;
}

.vborder {
    float: left;
    width: 2px;
    height: 13px;
    vertical-align: middle;
    margin-right: 4px;
}

.vborder + span {
    float: left;
    line-height: 13px;
    height: 13px;
}

.vborder.pres {
    background-color: #9c0;
}

.vborder.order {
    background-color: #6cf;
}

.close {
    background-position: 0 -584px;
    width: 16px;
    height: 16px;
}

.close:hover {
    background-position: -16px -584px;
}

.close:active {
    background-position: -32px -584px;
}

.close-l {
    position: absolute;
    top: 16px;
    right: 16px;
}

.market-head-article {
    font-size: 20px;
    vertical-align: middle;
}

.tabs {
    margin-bottom: 20px;
}

.tab-content > ul > li:not(:last-child) {
    margin-bottom: 20px;
}

.tab-content p {
    line-height: 20px;
}

.rostest li, .complect-block li {
    line-height: 20px;
}

.a-card__params {
    width: 100%;
}

.a-card__params tr {
    line-height: 24px;
}

.param-left-clm, .param-right-clm {
    vertical-align: top;
    font-size: 13px;
    line-height: normal;
}

.param-left-clm {
    width: 50%;
    text-align: left;
    background: url("../images/dots.gif") repeat-x 100% .95em;
    padding-right: 20px;
    padding-bottom: 8px;
}

.param-right-clm {
    width: 47%;

}

.param-dots {
    width: 100%;
    border: 0 none transparent;
    border-bottom: 1px dotted black;
    background: transparent !important;
    outline: none !important;
}

.param-name {
    background-color: #fff;
    padding: 0 2px 0 0;
}

.param-value {
    font-size: 14px;
}

.item-content {
    margin-bottom: 32px;
}

.item-number {
    width: 24px;
    height: 24px;
    line-height: 18px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fff;
    border: solid 2px #ffc302;
    text-align: center;
}

.catalog__item .item-number {
    position: absolute;
    top: -12px;
    left: 0;
}

.lborder + .item-number {
    left: 5px;
}

/* Popup elements */
.popup-close i {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 16px;
    height: 16px;
    background-position: 0 -584px;
    cursor: pointer;
}

.popup-close i:hover {
    background-position: -16px -584px;
}

.popup-close i:active {
    background-position: -32px -584px;
}

.noscroll {
    overflow: hidden;
}

.popup-out {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
    zoom: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.popup-out > * {
    -webkit-transform: translateZ(0px);
}

.popup {
    width: 700px;
    position: absolute;
    overflow: auto;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    top: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 10px 35px 20px 35px;
    margin: 100px 0;
}

.picture-popup {
    width: 95%;
    height: 90%;
    margin: 2% 0;
    position: relative;
}

.picture-popup .content {
    position: absolute;
    left: 35px;
    right: 35px;
    top: 45px;
    bottom: 20px;
}

.picture-popup .content-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 100%;
}

.picture-popup .content-zoom {
    position: absolute;
    left: 80px;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

.picture-popup .vert-scroll-line, .picture-popup .vert-scroll-tabs {
    height: 100%;
}

.picture-popup .js-mainPic {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    overflow: visible;
}

.picture-popup .js-mainPic.isZoomable {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    cursor: url('../images/zoom_increase.png'), auto;
}

.picture-popup .js-mainPic.zoomed {
    max-height: none;
    max-width: none;
    cursor: -webkit-zoom-out !important;;
    cursor: -moz-zoom-out !important;;
    cursor: zoom-out !important;;
    cursor: url('../images/zoom_reduce.png'), auto !important;
}

.picture-popup .js-mainPic.zoomed.zoom-h {
    left: 45%;

}

.picture-popup .js-mainPic.zoomed.zoom-v {
    top: 45%;
}

.picture-popup .lupe {
    width: 104px;
    height: 104px;
    background-position: -248px -107px;
}

/* ------- */

/* Form style */
.basket__form {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #333333;
    font-size: 16px;
}

.form-title, .title {
    font-size: 24px;
}

.form-row {
    padding-left: 220px;
    position: relative;
}

.form-row:not(:first-child) {
    margin-top: 20px;

}

.form-footer {
    margin-top: 20px;
}

.form-label ~ span {
    line-height: 28px;
}

.form-label {
    line-height: 28px;
    height: 28px;
    position: absolute;
    left: 0;
}

.form-label.radio-label {
    line-height: 38px;
}

.hidden {
    display: none;
}

.form-input, .form-select {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 28px;
    border: 1px solid #999999;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-input[type="text"], .form-input[type="tel"], .form-select {
    padding-left: 8px;
}

.form-select {
    width: 180px;
}

.form-select::-ms-expand {
    background: url("../images/big_basket_sprite.png") -380px -202px;
    width: 14px;
    height: 9px;
    border: 0 none;
}

.form-select.long-select {
    width: 240px;
}

.form-select.short-select {
    width: 140px;
}

.form-input {
    width: 320px;
}

.input__option:not(:first-child) {
    margin-top: 7px;
}

.form-input.short-input {
    width: 180px;
    margin-right: 10px;
}

.form-input.long-input {
    width: 530px;
}

textarea.form-input {
    padding: 5px 10px;
    height: 100px;
    resize: vertical;
}

.form-input[type="number"] {
    height: 24px;
    margin: 0 3px;
    width: 35px;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #999999;
    text-align: center;
}

.form-input[type="number"]::-webkit-outer-spin-button,
.form-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input:focus, .form-select:focus {
    border: 1px solid #efb700;
    outline: none;
}

.form-input.alert {
    border: 1px solid #fc0000 !important;
}

.ast {
    color: #efb700;
}

/* Accessories popup */
.catalog-popup {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 940px!important;
}

.catalog-popup .catalog__item {
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    margin-left: 1px;
    position: relative;
    width: 313px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 15px;
}

.catalog-popup .catalog__item__photo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.catalog-item {
    width: 335px;
    height: 170px;
    overflow: hidden;
    margin-bottom: 25px;
}

.catalog-item:nth-child(2n) {
    margin-left: 10px;
}

.catalog-title i {
    width: 24px;
    height: 35px;
    background-position: -808px -82px;
    vertical-align: bottom;
    margin-left: 10px;

}

.catalog-item__left {
    width: 140px;
    height: 100%;
    margin-right: 10px;
    position: relative;
}

.catalog-item__right {
    width: 185px;
    height: 100%;
    position: relative;
}

.catalog-item__name {
    font-size: 16px;
    line-height: 20px;
}

.catalog-terms {
    margin-bottom: 27px;
    padding-left: 30px;
}

.catalog-title {
    padding-left: 30px;
}

.catalog-item .starbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    bottom: 5px;
}

/* **** */

.popup .menu {
    width: 20%;
    width: calc(200px);
    position: relative;
}

.popup .menu {
    list-style: none;
    font-size: 16px;
    position: relative;
    padding-right: 20px;
}

.popup .menu:before {
    display: block;
    position: absolute;
    left: 8px;
    top: -10px;
    content: "";
    height: 4px;
    width: 16px;
    background-color: #ffc302;
}

.catalog-list.flt-l {
    width: calc(100% - 200px);
}
.catalog__kulisa {
    pointer-events: none;
    position: absolute;
    display: block;
    height: 100%;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(right, #fff, rgba(241, 241, 241, 0));
    background-image: -moz-linear-gradient(right, #fff, rgba(241, 241, 241, 0));
    background-image: -o-linear-gradient(right, #fff, rgba(241, 241, 241, 0));
    background-image: linear-gradient(to left, #fff, rgba(241, 241, 241, 0));
    background-image: -ms-linear-gradient(to left, #fff, rgba(241, 241, 241, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='@{#fff}', GradientType=1);
}

.popup .menu li {
    margin-bottom: 5px;
    display: inline-block;
    max-width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
.popup .menu li a {
    display: inline;
    overflow: hidden;
    max-width: 100%;
}

.popup .menu li:not(.selected) {
    margin-left: 8px;
}
.popup .menu li.selected {
    padding-left: 8px;
    border-radius: 4px;
    background-color: #fff3cc;
}
.popup .menu li.selected a{
    border-bottom-color: transparent!important;
}